.App {
    margin: 0;
    padding: 0;
}

.App-header {
    background: #333333;
    height: 50vh;
    margin: 0;
    padding: 25vh;
    vertical-align: middle;
    text-align: center;
}

.header-title{
    font-size: 80px;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.App-link {
  color: #61dafb;
}
