.App {
    margin: 0;
    padding: 0;
}

.App-header {
    background: #333333;
    margin: 0;
    padding: 5vh 0 3vh;
    vertical-align: middle;
    text-align: center;
}

.header-title{
    font-family: 'Heebo';
    font-weight: 100;
    font-size: 9vw;
    line-height: 1.5em;
    color: #aaaaaa;
    margin: 0;
    padding: 0;
}

.ScrollMarqueeContainer{
    margin: 10vh 0;
    height: 40vw;
    background: #f3f3ee;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 10vh;
}

.JapaneseText{
    float: left;
    margin: 0 0 5vw 0;
}

.JapaneseText .wrapper{
    margin: 0;
    padding: 0 1vw 0 4vw;
    writing-mode: vertical-rl;
    text-orientation: upright;
    float: right;
    column-width: 27em;
    column-gap: 2rem;
    width: 90vw;
}

.JapaneseText .wrapper p{
    font-family: 'Noto Serif JP';
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.045em;
    line-height: 1.65em;
    margin: 0 1em;
}
