
.Section1{
    display: block;
    height: 75vw;
    background: #cccccc;
    padding: 0;
    margin: 5vh 0;
    text-align: center;
    vertical-align: middle;
}

@keyframes section1-left-box-show{
    from{
        margin-left:  0px;
        opacity: 0;
    }

    to{
        margin-left: 10vw;
        opacity: 1;
    }
}

@keyframes section1-right-box-show{
    from{
        margin-right:  0px;
        opacity: 0;
    }

    to{
        margin-right: 10vw;
        opacity: 1;
    }
}

@keyframes section1-box-hide{
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
    }
}

.Section1 .box{
    width: 35vw;
    height: 35vw;
    vertical-align: middle;
    margin-top: 20vw;
    font-size: 40vh;
    background: #222222;
    color: #DDDDDD;
}

.Section1 .box.left{
    float: left;
    opacity: 0;
    margin-left: 10vw;
}

.Section1.animate-show .left{
    animation: section1-left-box-show 0.5s forwards;
}

.Section1 .box.right{
    float: right;
    opacity: 0;
    margin-right: 10vw;
}

.Section1.animate-show .right{
    animation: section1-right-box-show 0.5s forwards;
}

.Section1.animate-hide .box
{
    animation: section1-box-hide 0.5s forwards;
}
