

.ScrollMarquee{
    height: 40vw;
    background: #eeeeee;
    overflow: hidden;
    white-space: nowrap;
}

.ScrollMarquee .marqueeText{
    margin-top: 10vh;
    font-size: 12vw;
    font-weight: bold;
    color: #000000;
}
