
.SlideInBoxes{
    display: block;
    height: 65vw;
    background: #cccccc;
    padding: 0;
    margin: 4vh 0;
    text-align: center;
    vertical-align: middle;
}

@keyframes section1-left-box-show{
    from{
        margin-left:  -2vw;
        opacity: 0;
    }

    to{
        margin-left: 12vw;
        opacity: 1;
    }
}

@keyframes section1-right-box-show{
    from{
        margin-right:  0vw;
        opacity: 0;
    }

    to{
        margin-right: 15vw;
        opacity: 1;
    }
}

@keyframes section1-box-hide{
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
    }
}

.SlideInBoxes .box{
    position: static;
    height: 20vw;
    padding: 1vw 1vw 0.5vw;
    background: #222222;
    clear: both;
}

.SlideInBoxes .box .boxText{
    font-family: 'Playfair Display';
    font-size: 20vh;
    vertical-align: middle;
    line-height: 1em;
    color: #DDDDDD;
}

.SlideInBoxes .box.left{
    float: left;
    width: 32vw;
    opacity: 0;
    margin-left: 12vw;
    margin-top: 7vw;
}

.SlideInBoxes.animate-show .left{
    animation: section1-left-box-show 1s forwards;
}

.SlideInBoxes .box.right{
    float: right;
    width: 45vw;
    opacity: 0;
    margin-right: 15vw;
    margin-top: 7vw;
    padding-left: 3vw;
}

.SlideInBoxes.animate-show .right{
    animation: section1-right-box-show 0.5s forwards;
    animation-delay: 0.5s;
}

.SlideInBoxes.animate-hide .box
{
    animation: section1-box-hide 0.5s forwards;
}
