@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:600|Playfair+Display:900|Heebo:100|Work+Sans:900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 250vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
